{#{% extends 'bootstrap_3_horizontal_layout.html.twig' %}#}

{% block form_errors %}
    {% if errors|length > 0 %}
        {%- for error in errors -%}
            <ul class="parsley-errors-list field-error filled" id="parsley-id-7"><li class="parsley-required">{{ error.message }}</li></ul>
        {% endfor %}
    {% endif %}
{% endblock form_errors%}

{# FILE INPUT #}
{% block file_widget %}
    {% spaceless %}
        <div class="form-group col-md-7">
            <input type="file" {{ block('widget_attributes') }} class="item-collection-multiple-media multiple-media file form-control col-md-8" data-show-upload="false" data-show-caption="true"/>
        </div>
    {% endspaceless %}
{% endblock %}

{# MEDIA FILE TYPE INPUT #}
{% block application_media_file_type_widget %}
    {% set baseUrl = 'https://' ~ app_front_url %}
    {% set media = false %}
    {% if form.parent.vars.data is sameas(null) %}
        {% set media = true %}
    {% endif %}
    {% spaceless %}
        <div class="file-loading">
            <input multiple type="file" {{ block('widget_attributes') }} class="{% if form.vars.attr.class is defined %} {{ form.vars.attr.class }} {% endif %}"
                   data-show-caption="true"
                   data-show-remove="true"
                   data-src="{{ baseUrl }}{% path form.parent.vars.data, 'reference' %}"/>
        </div>
    {% endspaceless %}
{% endblock %}

{#DO NOT WORK#}
{% block business_case_media_type_widget %}
    {% spaceless %}
        <div class="file-loading">
            <input multiple type="file" {{ block('widget_attributes') }} class="{% if child.vars.attr.class is defined %} {{ child.vars.attr.classes }} {% endif %}" data-show-caption="true" data-show-remove="true"/>
        </div>
    {% endspaceless %}
{% endblock %}

{# RADIO WIDGET #}
{% block radio_label -%}

{% endblock %}

{% block radio_widget -%}
    {% spaceless %}
        {% set splittedBy = 3 %}
        {% if form.parent.vars.attr.splittedBy %}
            {% set splittedBy = form.parent.vars.attr.splittedBy %}
        {% endif %}

        {%  set colmd = 12/splittedBy %}
        {%  set colsm = 6 %}

        {# Bootstrap color display #}
        {% set color = "flat-green" %}
        {%  if form.parent.vars.attr.color is defined %}
            {% set color = form.parent.vars.attr.color %}
        {% endif %}

        {# Getting entity in choices list #}
        {% set parentFormChoices = form.parent.vars.choices %}

        {# Description tootltip #}
        {% set desc = false %}
        {% if (parentFormChoices[form.vars.name].data.description is defined) and (parentFormChoices[form.vars.name].data.description is not empty) %}
            {% set desc = true %}
            {% set colmd = colmd-1 %}
        {% endif %}

        <div class="radio col-md-{{ colmd }} col-sm-{{ colsm }}">
            <label for="{{ form.vars.id }}">
                {% if parentFormChoices[form.vars.name].data.image is defined %} <img alt="{{ label }}" class="img-responsive" src="{% path parentFormChoices[form.vars.name].data.image, 'logo' %}">
                {% else %}
                {% endif %}
                <div class="iradio_{{ color }} {% if checked %} checked {% endif %}">
                    <input type="radio" class="flat" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}">
                </div>
                {{ label|trans }}
                {# {{ label }}#}
            </label>
        </div>
        {% if desc == true %}
            <div class="col-md-1 mar-top">
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="{{ parentFormChoices[form.vars.name].data.description }}" data-placement="top" class="icon icon-help" data-original-title="{{ parentFormChoices[form.vars.name].data.name }}"></a>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# CHECKBOX WIDGET #}
{% block checkbox_widget -%}
    {% set colmd = 6 %}
    {%  if form.parent.vars.attr.dataCol is defined %}
        {% set colmd = form.parent.vars.attr.dataCol %}
    {% endif %}

    <div class="col-md-{{ colmd }} funkyradio-info">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {% if label and form.parent.vars.choices is defined %}
            {% set parentFormChoices = form.parent.vars.choices %}
            <label for="{{ form.vars.id }}">{% if parentFormChoices[form.vars.name].data.image is defined %} <img alt="{{ label }}" class="img-responsive" src="{% path parentFormChoices[form.vars.name].data.image, 'small' %}">{% else %}{{ label }} {% endif %}</label>
        {% endif %}
    </div>
{% endblock %}

{# SONATA COLLECTION WIDGET UNUSED 19/02/2019 #}
{% block sonata_type_collection_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{# (UNIT) TIME PRICES - MATERIAL - RESOURCE - EQUIPMENT - USER as resourceEmployee#}
{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{# TIME PRICES - MATERIAL - RESSOURCE - USER as resourceEmployee #}
{% block appbundle_timeprice_widget %}
    {% spaceless %}
        <div class="ln_solid"></div>
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if child.vars.block_prefixes.1 is defined and child.vars.block_prefixes.1 == "date" %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    {% elseif child.vars.money_pattern is defined  %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                    {% else %}
                        {{ form_widget(child, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                    {% endif %}
                    {{ form_errors(child) }}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock appbundle_timeprice_widget %}

{# UNIT TIME PRICES - EQUIPMENT - PRESTATION #}
{% block appbundle_unittimeprice_widget %}
    {% spaceless %}
        <div class="ln_solid"></div>
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if child.vars.block_prefixes.1 is defined and child.vars.block_prefixes.1 == "date" %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    {% elseif child.vars.money_pattern is defined  %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                    {% else %}
                        {{ form_widget(child, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                    {% endif %}
                    {{ form_errors(child) }}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock appbundle_unittimeprice_widget %}

{# COMMON POSTAL ADDRESS FIELDS - CUSTOMERS #}
{% block customerbundle_postaladdress_widget %}
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.streetNumber, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.streetNumber, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-thumb-tack form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.streetNumber) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.streetName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.streetName, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-road form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.streetName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.complement, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.complement, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.complement) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.postalCode, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.postalCode) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.city, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.city, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.country, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.country, {'attr': {'class': 'select2 form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.country) }}
        </div>
    </div>
{% endblock %}

{# CONSTRUCTION SITE POSTAL ADDRESS FIELDS - BUSINESS_CASE #}
{% block businessbundle_postaladdress_widget %}
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.streetNumber, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.streetNumber, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-thumb-tack form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.streetNumber) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.streetName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.streetName, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-road form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.streetName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.complement, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.complement, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.complement) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.postalCode, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.postalCode) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.city, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.city, {'attr': {'class': 'form-control has-feedback-left col-md-7 col-xs-12'}}) }}
            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="form-group">
        <span class="required">*</span>
        {{ form_label(form.country, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.country, {'attr': {'class': 'select2 form-control col-md-7 col-xs-12'}}) }}
            {{ form_errors(form.country) }}
        </div>
    </div>
{% endblock %}

{# PERCENT - CATALOG #}
{% block percent_widget %}
    <input {{ block('widget_attributes') }} value="{{ value }}" type="text">
    <span class="fa fa-percent form-control-feedback left" aria-hidden="true"></span>
{% endblock %}

{# CUSTOMER CHAPTER - PRESTATION #}
{% block _adminbundle_customerserial_customerChapters_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock _adminbundle_customerserial_customerChapters_widget %}

{% block _adminbundle_customerserial_customerChapters_entry_widget %}
    {% spaceless %}
        <div class="ln_solid"></div>
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if child.vars.block_prefixes.1 is defined and child.vars.block_prefixes.1 == "date" %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    {% elseif child.vars.money_pattern is defined  %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                    {% else %}
                        {{ form_widget(child, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                    {% endif %}
                    {{ form_errors(child) }}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock _adminbundle_customerserial_customerChapters_entry_widget %}

{# UNIT TIME POINTS - CUSTOMER ARTICLE #}
{% block _adminbundle_customerarticle_unitTimePoints_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock _adminbundle_customerarticle_unitTimePoints_widget %}

{% block _adminbundle_customerarticle_unitTimePoints_entry_widget %}
    {% spaceless %}
        <div class="ln_solid"></div>
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {% if child.vars.block_prefixes.1 is defined and child.vars.block_prefixes.1 == "date" %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    {% elseif child.vars.money_pattern is defined  %}
                        {{ form_widget(child, {'attr': {'class': 'form-control has-feedback-left col-md-12 col-xs-12'}}) }}
                        <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                    {% else %}
                        {{ form_widget(child, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                    {% endif %}
                    {{ form_errors(child) }}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock _adminbundle_customerarticle_unitTimePoints_entry_widget %}

{# BUSINESS CASE GALLERY - BUSINESS CASE #}

{# BUSINESS CASE GALLERY - MEDIA FIELD IN COLLECTION #}
{% block sonata_media_type_widget %}
    {#<div class="col-sm-6 col-md-6" style="text-align: right;">#}
    {#<div class="kv-avatar">#}
    {#<div class="file-loading">#}
    {#blbl#}
    {#<input type="file" {{ block('widget_attributes') }} class="item-collection-multiple-media multiple-media file form-control"/>#}
    {#data-show-upload="false" data-show-caption="true" #}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {{ block("form_widget") }}
{% endblock %}

{% block _businessbundle_businesscase_businessCaseGalleries_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock _businessbundle_businesscase_businessCaseGalleries_widget %}

{% block _businessbundle_businesscase_businessCaseGalleries_entry_widget %}
    {% spaceless %}
        <div class="ln_solid"></div>
        {% for child in form %}
            {% set classes =  "form-control col-md-12 col-xs-12" %}
            <div class="form-group">
                {% if child.vars.prototype is defined %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_widget(child) }}
                    </div>
                {% else %}
                    {{ form_label(child, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% if child.vars.block_prefixes.2 is defined and child.vars.block_prefixes.2 == "date" %}
                            {% if child.vars.attr.class is defined %}
                                {% set classes = classes ~ " has-feedback-left " ~ child.vars.attr.class %}
                            {% else %}
                                {% set classes = classes ~ " has-feedback-left" %}
                            {% endif %}
                            {{ form_widget(child, {'attr': {'class': classes }}) }}
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>

                        {% elseif child.vars.money_pattern is defined  %}
                            {% if child.vars.attr.class is defined %}
                                {% set classes = classes ~ " has-feedback-left " ~ child.vars.attr.class %}
                            {% else %}
                                {% set classes = classes ~ " has-feedback-left" %}
                            {% endif %}
                            {{ form_widget(child, {'attr': {'class': classes }}) }}
                            <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>

                        {% else %}
                            {% if child.vars.attr.class is defined %}
                                {% set classes = classes ~ " " ~ child.vars.attr.class %}
                            {% endif %}
                            {{ form_widget(child, {'attr': {'class': classes }}) }}
                        {% endif %}
                        {{ form_errors(child) }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock _businessbundle_businesscase_businessCaseGalleries_entry_widget %}

{% block galleryHasMedias_collection_type_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock galleryHasMedias_collection_type_widget %}

{% block galleryHasMedias_form_widget %}
    {% set divExtraFileDataFieldsOpened = false %}
    {% set divExtraFileDataFields = '<div class="col-sm-6 col-md-6">' %}
    <div class="row col-md-11"> {# 4, 10 #}
    {% for child in form %}
        {% if child.vars.block_prefixes.1 is defined and child.vars.block_prefixes.1 == "sonata_media_type" %}
            {% if divExtraFileDataFieldsOpened == true %}
                </div> {# closing divExtraFileDataFields #}
            {% endif %}
            {# MEDIA FIELD(s) #}
            {{ form_widget(child) }}
        {% else %}
            {% if divExtraFileDataFieldsOpened == false %}
                {{ divExtraFileDataFields|raw }}
                {% set divExtraFileDataFieldsOpened = true %}
            {% endif %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{ child.vars.label_format|trans }}<span class="kv-reqd">*</span></label>
                        {{ form_widget(child) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="col-md-1 collection-actions">
        <div class="btn-group-vertical" role="group">
            <button class="collection-add btn btn-xs btn-success" title="{{ 'add_media'|trans }}"><span class="glyphicon glyphicon-plus-sign"></span></button>
            <button class="collection-up btn btn-xs btn-info" title="{{ 'up_media'|trans }}"><span class="glyphicon glyphicon-chevron-up"></span></button>
            <button class="collection-down btn btn-xs btn-info" title="{{ 'down_media'|trans }}"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <button class="collection-remove btn btn-xs btn-danger" title="{{ 'delete_media'|trans }}"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
{% endblock galleryHasMedias_form_widget %}