{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block breadcrumb %}
    <li class="">{{ "business_management"|trans|capitalize }}</li>
    <li class=""><a href="{{ path('business_case_index') }}">{{ "business_cases"|trans|capitalize }}</a></li>
    <li class="active">{{ "addition"|trans|capitalize }}</li>
{% endblock %}

{% block page_title %}{{ "creation_of_business_case"|trans|capitalize }}{% endblock %}

{% block title %}
    {{ "creation_of_business_case"|trans|capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-folder-open"></i> {{ "create"|trans|capitalize }} {{ "a_business_case"|trans }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left business-case-form', 'novalidate': '', 'enctype': "multipart/form-data"}}) }}

                    <!-- Smart Wizard -->
                    {#<p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>#}
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor" style="border-bottom: 1px solid lightgrey">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr"><small>{{ "general_data_capitalize"|trans }}</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr"><small> {{ "construction_site_localization_capitalize"|trans }}</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr"><small> {{ "customer_data_capitalize"|trans }}</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr"><small>{{ "media_capitalize"|trans }}</small></span>
                                </a>
                            </li>
                            {#<li>#}
                                {#<a href="#step-4">#}
                                    {#<span class="step_no">4</span>#}
                                    {#<span class="step_descr">#}
                                              {#{{ "step_capitalize"|trans }} 4<br />#}
                                              {#<small>{{ "media_capitalize"|trans }}</small>#}
                                          {#</span>#}
                                {#</a>#}
                            {#</li>#}
                        </ul>
                        <div id="step-1" >
                            <div class="form-group">
                                {% if form.name.vars.required %} <span class="required">*</span> {% endif %}
                                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                {% if form.description.vars.required %} <span class="required">*</span> {% endif %}
                                {{ form_label(form.description, "description"|trans|capitalize, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {% if form.externalReference.vars.required %} <span class="required">*</span> {% endif %}
                                {{ form_label(form.externalReference, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    {{ form_widget(form.externalReference, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                    {{ form_errors(form.externalReference) }}
                                </div>
                            {#</div>#}
                            {#<div class="form-group">#}
                                {% if form.internalReference.vars.required %} <span class="required">*</span> {% endif %}
                                {{ form_label(form.internalReference, null, {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    {{ form_widget(form.internalReference, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                    {{ form_errors(form.internalReference) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {% if form.user.vars.required %} <span class="required">*</span> {% endif %}
                                {{ form_label(form.user, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.user, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                                    {{ form_errors(form.user) }}
                                </div>
                            </div>
                        </div>
                        <div id="step-2">
                            {{ form_widget(form.constructionSitePostalAddress, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.constructionSitePostalAddress) }}
                        </div>
                        <div id="step-3">
                            <div class="form-group">
                                {% if form.customerType.vars.required %} <span class="required">*</span> {%  endif %}
                                {{ form_label(form.customerType, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.customerType) }}
                                    {{ form_errors(form.customerType) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {% if form.customer.vars.required %} <span class="required">*</span> {%  endif %}
                                {{ form_label(form.customer, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12 render-customer-list">
                                    {{ form_widget(form.customer, {'attr': {'class': 'form- control col-md-12 col-xs- 12'}}) }}
                                    {{ form_errors(form.customer) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {% if form.customerContact.vars.required %} <span class="required">*</span> {%  endif %}
                                {{ form_label(form.customerContact, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12 render-customerContact-list">
                                    {{ form_widget(form.customerContact, {'attr': {'class': 'form-control col-md-12 col-xs-12'}}) }}
                                    {{ form_errors(form.customerContact) }}
                                </div>
                            </div>
                        </div>
                        <div id="step-4">
                            <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
                            <div class="form-group">
                                <div class="row">
                                    {{ form_label(form.businessCaseGalleries, null, {'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'}}) }}
                                    {#<div class="col-md-10 col-sm-10 col-xs-12">#}
                                    {{ form_widget(form.businessCaseGalleries) }}
                                    {{ form_errors(form.businessCaseGalleries) }}
                                </div>
                            </div>
                        </div>
                        {#<div id="step-4">#}
                        {#</div>#}
                    </div>
                    {#<a href="{{ path('business_case_index') }}" class="btn btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ "cancel"|trans|capitalize }}</a>#}
                    {#<button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> {{ "create"|trans|capitalize }}</button>#}
                    {#</div>#}
                    {#</div>#}
                </div>
                <!-- End SmartWizard Content -->
                <br>
                <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true" style="display: none"></i> {{ "create"|trans|capitalize }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
{% endblock %}
{% block plain_js_bundle %}
    {{ form_javascript(form) }}
    <script>
        //Ready
        $(function() {
            ajaxSubmitReloadNextByRadioBox("business-case-form", "input:radio", "businessbundle_businesscase", "customerType", "customer", []);
            ajaxSubmitReloadNextByRadioBox("business-case-form", "select", "businessbundle_businesscase", "customer", "customerContact", [{name: "customerType", type: ":radio"}]);

            $(".business-case-form").on("mouseup", "#businessbundle_businesscase_customerType", function(event){
                var $val = $("input:radio[name^='businessbundle_businesscase[customerType]']:checked");
                if(typeof $val.val() !== "undefined"){
                    cleanChildren("businessbundle_businesscase_", true, ["customer_contact"]);
                }
            });

            function loadFileInput(inputField){
                var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' +
                    'onclick="alert(\'Call your custom code here.\')">' +
                    '<i class="glyphicon glyphicon-tag"></i>' +
                    '</button>';

                inputField.fileinput({
                    //initialPreviewAsData: true,
                    // showCaption: true,
                    //showRemove: true,
                    //showUpload:true,
                    //maxFileSize: 1500,
                    overwriteInitial: true,
                    showClose: false,
                    showCaption: false,
                    showBrowse: false,
                    browseOnZoneClick: true,
                    removeLabel: '',
                    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                    removeTitle: 'Cancel or reset changes',
                    elErrorContainer: '#kv-avatar-errors-2',
                    msgErrorClass: 'alert alert-block alert-danger',
                    defaultPreviewContent: '<i class="fa fa-camera-retro" aria-hidden="true" style="font-size:35px"></i>', //<img src="/uploads/default_avatar_male.jpg" alt="Your Avatar"><h6 class="text-muted">Click to select</h6>',
                    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
                    allowedFileExtensions: ["jpg", "png", "gif"]
                });
            };

            function loadMediasCollection(mediaCollectionField){
                /**
                 * Launch BusinessCaseGallery collection
                 */
                mediaCollectionField.collection({
                    allow_duplicate: false,
                    after_add: function (collection, element) {
                        loadFileInput($(".media-file-input"));
                        $("textarea.tinymce-textarea").tinymce();
                        $("select").select2({ width: '100%' });
                        element.addClass("col-md-6");
                        return true;
                    },
                    allow_add: true,
                    allow_remove: true,
                    allow_up: true,
                    allow_down: true,
                    position_field_selector: '.media-position',
                    min: 1,
                    // max: 200,
                    //custom_add_location: true,
                    add: '<button class="collection-add btn btn-xs btn-success" title="{{ 'add_media'|trans }}"><span class="glyphicon glyphicon-plus-sign"></span></button>',
                    remove: '<button class="collection-remove btn btn-xs btn-danger" title="{{ 'delete_media'|trans }}"><span class="glyphicon glyphicon-trash"></span></button>',
                    up: '<button class="collection-up btn btn-xs btn-success" title="{{ 'up_media'|trans }}"><span class="glyphicon glyphicon-chevron-up"></span></button>',
                    down: '<button class="collection-down btn btn-xs btn-success" title="{{ 'down_media'|trans }}"><span class="glyphicon glyphicon-chevron-down"></span></button>',
                });
            }

            /**
             * Launch BusinessCaseGallery collection
             */
            $(".item-collection").each(function() {
                $(this).collection({
                    allow_duplicate: false,
                    after_add: function (collection, element) {
                        $("select").select2({ width: '100%' });
                        //console.log(collection);
                        //console.log(element);
                        mediasCollection = element.find('.item-collection-multiple-media');
                        loadMediasCollection(mediasCollection);
                        return true;
                    },
                    allow_up: false,
                    allow_down: false,
                    allow_add: true,
                    allow_remove: true,
                    min: 1,
                    // max: 200,
                    add: '<a href="#" class="collection-add btn btn-default btn-success" title="Ajouter un élément"><span class="glyphicon glyphicon-plus-sign"></span></a>',
                    remove: '<a href="#" class="collection-remove btn btn-default btn-danger" title="Supprimer cet élément"><span class="glyphicon glyphicon-trash"></span></a>'
                });
            });

            /**
             * Launch GalleryMedias collection
             */
            loadMediasCollection($(".item-collection-multiple-media"));

            /**
             * Launch multiple media file type
             */
            $('.multiple-media').fileinput({
                msgPlaceholder: '{{ "select_files_capitalize"|trans }}',
                defaultPreviewContent: '<i class="fa fa-camera-retro" aria-hidden="true" style="font-size:35px"></i>',
                showBrowse: true,
                browseOnZoneClick: true,
                browseLabel: '{{ "browse_capitalize"|trans }}',
                showRemove: true,
                showCaption: false,
                initialPreviewShowDelete: true,
                showUploadedThumbs: true,
                showUpload: false,
                removeLabel: '',
                removeIcon: '<i class="glyphicon glyphicon-remove" style="color: red"></i>',
                initialPreviewAsData: false,
                overwriteInitial: false,
                uploadUrl: "'"+$('.multiple-media').parent("form").attr("action")+"'", //"/"
                //layoutTemplates: {main2: '{preview} {remove} {browse}'},
            });

            // Textarea WYSIWYG at first load (not used after ajax refresh DOM)
            $("textarea.tinymce-textarea").tinymce();
        });
    </script>
{% endblock %}