{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block breadcrumb %}
    <li class="">{{ "resources_management"|trans|capitalize }}</li>
    <li class=""><a href="{{ path('equipment_index') }}">{{ "all_equipments"|trans|capitalize }}</a></li>
    <li class="active">{{ "modify"|trans|capitalize }}</li>
{% endblock %}

{% block page_title %}{{ "edition_of_equipment"|trans|capitalize }}{% endblock %}

{% block title %}{{ "edition_of_equipment"|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-truck"></i> {{ "edition_of_the_equipment"|trans|capitalize }} <em>{{ equipment.name }}</em></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-label-left', 'novalidate': ''}}) }}
                    <div class="form-group">
                        {% if edit_form.name.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if edit_form.brand.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.brand, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.brand, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.brand) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if edit_form.model.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.model, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.model, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.model) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if edit_form.serialNumber.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.serialNumber, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.serialNumber, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.serialNumber) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if edit_form.reference.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.reference, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.reference, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.reference) }}
                        </div>
                    </div>
                    <div class="item form-group">
                        {% if edit_form.description.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.description, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(edit_form.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if edit_form.working.vars.required %} <span class="required">*</span> {%  endif %}
                        {{ form_label(edit_form.working, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12 checkbox-align">
                            {{ form_widget(edit_form.working, {'attr': {'class': 'green-icheck'}}) }}
                            {{ form_errors(edit_form.working) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.unitTimePrices, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.unitTimePrices) }}
                            {{ form_errors(edit_form.unitTimePrices) }}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="{{ path('equipment_index') }}" class="btn btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ "cancel"|trans|capitalize }}</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> {{ "modify"|trans|capitalize }}</button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
{% endblock %}

{% block plain_js_bundle %}
    {{ form_javascript(edit_form) }}
    <script type="application/javascript">
        /**
         * Launch collection function
         */
        $(document).ready(function() {
            $(".item-collection").collection({
                after_add: function () {
                    $("select").select2({ width: '100%' });
                    return true;
                },
                allow_duplicate: false,
                allow_up: false,
                allow_down: false,
                allow_add: true,
                allow_remove: true,
                min: 0,
                max: 12,
                add: '<a href="#" class="collection-add btn btn-default btn-success" title="Add file"><span class="glyphicon glyphicon-plus-sign"></span></a>',
                remove: '<a href="#" class="collection-remove btn btn-default btn-danger" title="Delete file"><span class="glyphicon glyphicon-trash"></span></a>'
            });
        });
    </script>
{% endblock %}