{% extends 'base.html.twig' %}

{% block body %}
    <h1>Corporationemployee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ corporationEmployee.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ corporationEmployee.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ corporationEmployee.lastName }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ corporationEmployee.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Mailaddress</th>
                <td>{{ corporationEmployee.mailAddress }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ corporationEmployee.slug }}</td>
            </tr>
            <tr>
                <th>Honorific</th>
                <td>{{ corporationEmployee.honorific }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if corporationEmployee.created %}{{ corporationEmployee.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if corporationEmployee.updated %}{{ corporationEmployee.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('corporation-employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('corporation-employee_edit', { 'id': corporationEmployee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
