{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="">{{ "catalog_management"|trans|capitalize }}</li>
    <li class="">{{ "customer_catalog"|trans|ucfirst }}</li>
    <li class="active">{{ "all_customer_serials"|trans|capitalize|capitalize }}</li>
{% endblock %}

{% block page_title %}{{ "all_customer_serials"|trans|capitalize|capitalize }}{% endblock %}

{% block title %}{{ "all_customer_serials"|trans|capitalize|capitalize }}{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-lightbulb-o"></i> {{ "all_customer_serials"|trans|capitalize }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="import-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                            <i class="fa fa-upload" aria-hidden="true"></i> {{ "import_verb"|trans|capitalize }}
                        </button>
                    </li>
                    <li>
                        <a type="button" class="btn btn-warning btn-li" href="{{ path('customer_serial_export_all') }}"><i class="fa fa-download" aria-hidden="true"></i> {{ "export_all"|trans|capitalize }}</a>
                    </li>
                    <li class="inherit-li">
                        <a class="btn btn-success btn-li" href="{{ path("customer_serial_new") }}"><i class="fa fa-plus"></i> {{ "add"|trans|capitalize }} {{ "a_customer_serial"|trans }}</a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="all-customer-serials" class="x_content container">
                <ul id="customerCatalogTab" class="nav nav-tabs bar_tabs bar_tabs_olive_green" style="min-height: 25px;" role="tablist">
                    {% for customerSerial in customerSerials %}
                        {% if loop.first %}
                            {% set isActive = "active" %}
                        {% else %}
                            {% set isActive = "" %}
                        {% endif %}
                        <li role="presentation" class="medium-tab {{ isActive }}">
                            <form class="serial-name-form" method="PUT" action="{{ path('customer_serial_edit', {"slug": customerSerial.slug}) }}">
                                <a href="#tab_serial{{ customerSerial.id }}" id="{{ customerSerial.slug }}-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                    <input style="border:none; background: transparent; width: 100%;" class="edit-customer-serial-name ajax-edit" type="text" required=required name="customer_serial_name" data-slug="{{ customerSerial.slug }}" data-first-chapter-slug="{{ customerSerial.customerChapters|first.slug }}" value="{{ customerSerial.name }}">
                                </a>
                                <input style="display: none;" type="submit"/>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
                <div id="customerCatalogTabContent" class="tab-content">
                    {% for customerSerial in customerSerials %}
                        {% if loop.first %}
                            {% set isFirstSerial = true %}
                            {% set isActive = "active in" %}
                        {% else %}
                            {% set isActive = "" %}
                            {% set isFirstSerial = false %}
                        {% endif %}

                        <div role="tabpanel" class="tab-pane fade {{ isActive }} serial-tab-content" id="tab_serial{{ customerSerial.id }}" aria-labelledby="{{ customerSerial.slug }}-tab">
                            <div class="col-xs-2" style="border-right: 1px dotted olive;">
                                <ul class="nav nav-tabs tabs-left">
                                    {% for customerChapter in customerSerial.customerChapters %}
                                        {% if loop.first %}
                                            {% set isActive = "active" %}
                                        {% else %}
                                            {% set isActive = "" %}
                                        {% endif %}
                                        <li class="{{ isActive }}">
                                            <form class="chapter-name-form" method="PUT" action="{{ path('customer_chapter_edit', {"slug": customerChapter.slug}) }}">
                                                <a href="#{{ customerChapter.slug }}" id="{{ customerChapter.slug }}-tab" role="tab" data-toggle="tab" aria-expanded="true" style="font-weight: bold;">
                                                    <textarea class="edit-customer-chapter-name ajax-edit" required=required name="customer_chapter_name" data-slug="{{ customerChapter.slug }}">{{ customerChapter.name }}</textarea>
                                                </a>
                                                <input style="display: none;" type="submit"/>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-xs-10 border-left-olive-green">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    {% for customerChapter in customerSerial.customerChapters %}
                                        {% if loop.first %}
                                            {% set isActive = "active" %}
                                        {% else %}
                                            {% set isActive = "" %}
                                        {% endif %}
                                        <div role="tabpanel" class="tab-pane {{ isActive }}" id="{{ customerChapter.slug }}">
                                            <ul class="stats-overview dark-green-borders" style="min-height: 49px;">
                                                <li>
                                                    <button type="button" class="btn btn-sm btn-info btn-li add-customer-chapters" data-toggle="modal" data-target="#addChapterModal" data-slug="{{ customerSerial.slug }}">
                                                        <i class="fa fa-plus"></i> {{ "add"|trans|capitalize }} {{ "a_customer_chapter"|trans }}
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn btn-sm btn-gold btn-li add-customer-articles" data-toggle="modal" data-target="#addArticleModal" data-slug="{{ customerChapter.slug }}">
                                                        <i class="fa fa-plus"></i> {{ "add"|trans|capitalize }} {{ "a_customer_article"|trans }}
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn btn-sm btn-danger delete-customer-chapter" data-toggle="modal" data-target="#deleteModal" data-slug="{{ customerChapter.slug }}">
                                                        <i class="fa fa-trash" aria-hidden="true"></i> {{ "delete_verb"|trans|capitalize }} {{ "the_customer_chapter"|trans }}
                                                    </button>
                                                </li>
                                            </ul>
                                            {# ARTICLES GRID - DATATABLE #}
                                            <div id="articles-grid-{{ customerChapter.slug }}">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Import Modal -->
    {% include  ":common:import_modal.html.twig" with { "action_path": "customer_serial_index", "object_title": "some_customer_serials", "error": error } %}
    <!-- Delete Modal -->
    {% include  ":common:remove_object_modal.html.twig" with { "default": true } %}
    <!-- Add articles Modal -->
    {% include "AdminBundle:customerarticle:add_article_modal.html.twig" with {"default": true } %}
    <!-- Add Chapter Modal -->
    {% include "AdminBundle:customerchapter:add_chapter_modal.html.twig" with {"default": true } %}
{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
    {% if error %}
        $(document).ready(function(){
        $("#import-btn").trigger("click");
        });
    {% endif %}

    <!-- Delete Modal Ajax Call-->
    {% include ":common:delete_pop_up.js.twig" with { "classEntity": "delete-customer-serial", "routeName": "customer_serial_delete" } %}
    {% include ":common:delete_pop_up.js.twig" with { "classEntity": "delete-customer-chapter", "routeName": "customer_chapter_delete" } %}

    <!-- Add articles/chapters Ajax Call -->
    {% include "AdminBundle:customerarticle:add_customer_object_pop_up.js.twig" with { "classEntity": "add-customer-articles", "routeName": "customer_article_new", "targetPopUp": "addArticleModal", "slugParam": "slugChapter" } %}
    {% include "AdminBundle:customerarticle:add_customer_object_pop_up.js.twig" with { "classEntity": "add-customer-chapters", "routeName": "customer_chapter_new", "targetPopUp": "addChapterModal", "slugParam": "slugSerial"  } %}

    <!-- Grid articles by chapter Ajax Call -->
    {% include "AdminBundle:customerarticle:add_grid_articles_by_chapter.js.twig" with { "rootClass": "edit-customer-chapter-name", "routeName": "customer_article_grid", "targetElement": "articles-grid", "slugParam": "slugChapter"  } %}

    <!-- Grid articles by serial > first chapter Ajax Call -->
    {% include "AdminBundle:customerarticle:add_grid_articles_by_serial_first_chapter.js.twig" with { "rootClass": "edit-customer-serial-name", "routeName": "customer_article_grid", "targetElement": "articles-grid", "slugParam": "slugChapter"  } %}

    <!-- Edit articles from grid Ajax call -->
    {% include "AdminBundle:customerarticle:add_customer_object_pop_up.js.twig" with { "classEntity": "edit-customer-article", "routeName": "customer_article_edit", "targetPopUp": "addArticleModal", "slugParam": "slug" } %}

{% endblock %}
{% block plain_js_bundle %}
    <script type="application/javascript">
        $(document).ready(function() {
            /**
             * Edit dynamically SERIAL name
             */
            $("form.serial-name-form").on("submit", function(e){
                e.preventDefault();
                e.stopPropagation();
                $form = $(this);
                var data = $form.serializeArray();

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    dataType: "json", //response format
                    data: data,
                    beforeSend: function () {
                        $('#ajax-spinner').show();
                    },
                    complete: function () {
                        $('#ajax-spinner').hide("slow");
                    },
                    success: function (jsonData) {
                        new PNotify({
                            title: '{{ 'successfully_edit'|trans }}',
                            text: jsonData.msg,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        $form.attr("action", jsonData.slug);
                    },
                    error: function(request, status, error){
                        new PNotify({
                            title: '{{ 'failed_edit'|trans }}',
                            text: 'Oh No! '+request.responseText,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            });
            /**
             * Edit dynamically CHAPTER name
             */
            $("form.chapter-name-form").on("submit", function(e){
                e.preventDefault();
                e.stopPropagation();
                $form = $(this);
                var data = $form.serializeArray();

                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    dataType: "json", //response format
                    data: data,
                    beforeSend: function () {
                        $('#ajax-spinner').show();
                    },
                    complete: function () {
                        $('#ajax-spinner').hide("slow");
                    },
                    success: function (jsonData) {
                        new PNotify({
                            title: '{{ 'successfully_edit'|trans }}',
                            text: jsonData.msg,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        $form.attr("action", jsonData.slug);
                        console.log("Everything is ok json");
                    },
                    error: function(request, status, error){
                        new PNotify({
                            title: '{{ 'failed_edit'|trans }}',
                            text: 'Oh zut ! <br>'+request.responseJSON.msg,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                });
            });

            /**
             *
             */
            $("input.ajax-edit").on("click", function() {
                $(this).trigger("blur");
            });

            $("input.ajax-edit").on("dblclick", function(){
                var val = $(this).val();
                $(this).focus().val('').val(val);
            })
            $("textarea.ajax-edit").on("click", function() {
                $(this).trigger("blur");
            });

            $("textarea.ajax-edit").on("dblclick", function(){
                var val = $(this).val();
                $(this).focus().val('').val(val);
            })
        });
    </script>
{% endblock %}