{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block breadcrumb %}
    <li class="">{{ "customers_management"|trans|capitalize }}</li>
    <li class=""><a href="{{ path('customer_contact_index') }}">{{ "customer_contacts"|trans|capitalize }}</a></li>
    <li class="active">{{ "addition"|trans|capitalize }}</li>
{% endblock %}

{% block page_title %}{{ "creation_of_customer_contact"|trans|capitalize }}{% endblock %}

{% block title %}
    {{ "creation_of_customer_contact"|trans|capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-address-book"></i> {{ "create"|trans|capitalize }} {{ "a_customer_contact"|trans }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left customer-contact-form', 'novalidate': ''}}) }}
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.honorific, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.honorific, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.honorific) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.phoneNumber) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.corporationJobStatus, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.corporationJobStatus, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.corporationJobStatus) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.mailAddress, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.mailAddress, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.mailAddress) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.customerType, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.customerType) }}
                            {{ form_errors(form.customerType) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="required">*</span>
                        {{ form_label(form.customer, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12 render-customer-list">
                            {{ form_widget(form.customer, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.customer) }}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="{{ path('customer_contact_index') }}" class="btn btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ "cancel"|trans|capitalize }}</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> {{ "create"|trans|capitalize }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
{% endblock %}
{% block plain_js_bundle %}
    {{ form_javascript(form) }}
    <script>
        //Ready
        $(function() {
            ajaxSubmitReloadNextByRadioBox("customer-contact-form", ":radio", "customerbundle_customercontact", "customerType", "customer");
        });
    </script>
{% endblock %}