{% extends 'base.html.twig' %}

{% block body %}
    <h1>Corporationemployee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customerContact.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ customerContact.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ customerContact.lastName }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ customerContact.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Mailaddress</th>
                <td>{{ customerContact.mailAddress }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ customerContact.slug }}</td>
            </tr>
            <tr>
                <th>Honorific</th>
                <td>{{ customerContact.honorific }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if customerContact.created %}{{ customerContact.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if customerContact.updated %}{{ customerContact.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('corporation-employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('corporation-employee_edit', { 'id': customerContact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
