{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="active">{{ "all_jobs"|trans|capitalize|capitalize }}</li>
{% endblock %}

{% block page_title %}{{ "jobs"|trans|capitalize|capitalize }}{% endblock %}

{% block title %}{{ "jobs"|trans|capitalize|capitalize }}{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-briefcase"></i> {{ "all_jobs"|trans|capitalize|capitalize }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="import-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                            <i class="fa fa-upload" aria-hidden="true"></i> {{ "import_verb"|trans|capitalize }}
                        </button>
                    </li>
                    <li>
                        <a type="button" class="btn btn-warning btn-li" href="{{ path('corporation_jobstatus_export_all') }}"><i class="fa fa-download" aria-hidden="true"></i> {{ "export_all"|trans|capitalize }}</a>
                    </li>
                    <li class="inherit-li">
                        <a class="btn btn-success btn-li" href="{{ path("corporation_jobstatus_new") }}"><i class="fa fa-plus"></i> {{ "addition"|trans|capitalize }}</a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content container">
                <a href="#" class="btn btn-default openall">{{ "unfold"|trans|capitalize }}</a> <a href="#" class="btn btn-default closeall">{{ "fold"|trans|capitalize }}</a>
                <hr>
                <!-- start accordion -->
                <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for corporationJobStatus in corporationJobStatuses %}
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="heading{{ corporationJobStatus.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ corporationJobStatus.id }}" aria-expanded="true" aria-controls="collapse{{ corporationJobStatus.id }}">
                                <h4 class="panel-title">{{ corporationJobStatus.name }}</h4>
                            </a>
                            <div id="collapse{{ corporationJobStatus.id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ corporationJobStatus.id }}">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ "title"|trans|capitalize }}</th>
                                            <th>{{ "contacts"|trans|capitalize }}</th>
                                            <th>{{ "created_m_s"|trans|capitalize ~ " " ~ "on_date"|trans|capitalize }}</th>
                                            <th>{{ "updated_m_s"|trans|capitalize ~ " " ~ "on_date"|trans|capitalize }} </th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{ corporationJobStatus.id }}</th>
                                            <td>{{ corporationJobStatus.name }}</td>
                                            <td>
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2><i class="fa fa-sitemap" aria-hidden="true"></i>
                                                            <small>{% if corporationJobStatus.employees|length == 1 %}{{ "contact"|trans|capitalize }}{% elseif corporationJobStatus.contacts|length > 1 %}{{ "contacts"|trans|capitalize }}{% else %}{{ "no_contact"|trans|capitalize }}{% endif %}</small></h2>
                                                        <ul class="nav navbar-right panel_toolbox">
                                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content" style="display: none">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Nom</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for employee in corporationJobStatus.employees %}
                                                                <tr>
                                                                    <td>{{ employee.id }}</td>
                                                                    <td>{{ employee }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{% if corporationJobStatus.created %}{{ corporationJobStatus.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if corporationJobStatus.updated %}{{ corporationJobStatus.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td align="center" style="vertical-align: middle">
                                                <a class="btn btn-sm btn-info" href="{{ path('corporation_jobstatus_edit', { 'slug': corporationJobStatus.slug }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Modifier</a>
                                                <a class="btn btn-sm btn-warning" href="{{ path('corporation_jobstatus_export', { 'slug': corporationJobStatus.slug }) }}"><i class="fa fa-download" aria-hidden="true"></i> Export</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    {% include  ":common:import_modal.html.twig" with { "action_path": "corporation_jobstatus_index", "object_title": "some_jobs", "error": error } %}

{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
    {% if error %}
        $(document).ready(function(){
        $("#import-btn").trigger("click");
        });
    {% endif %}

{% endblock %}