
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('homepage') }}" class="site_title"><i class="fa fa-paw"></i> <span>{{ "CaseManager"|trans }} service</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="{{ asset('bundles/app/assets/img/edtpe-logo.jpg') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>{{ "welcome"|trans|capitalize }},</span>
                <h2>{{ app.user.firstName ~ " " ~ app.user.lastName }} </h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>-- {{ "administration"|trans|capitalize }} --</h3>
                {{ knp_menu_render('AppBundle:MenuBuilder:firstMainTopMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
            </div>
            <div class="menu_section">
                <h3>-- {{ "business"|trans|capitalize }} --</h3>
                {{ knp_menu_render('AppBundle:MenuBuilder:secondMainTopMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
            </div>
            {#<div class="menu_section">#}
                {#<h3>-- Live On --</h3>#}
                {#<ul class="nav side-menu">#}
                    {#<li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>#}
                        {#<ul class="nav child_menu">#}
                            {#<li><a href="#">E-commerce</a></li>#}
                            {#<li><a href="#">E-commerce</a></li>#}
                            {#<li><a href="#">E-commerce</a></li>#}
                            {#<li><a href="#">E-commerce</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>#}
                        {#<ul class="nav child_menu">#}
                            {#<li><a href="#">403 Error</a></li>#}
                            {#<li><a href="#">403 Error</a></li>#}
                            {#<li><a href="#">403 Error</a></li>#}
                            {#<li><a href="#">403 Error</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>#}
                        {#<ul class="nav child_menu">#}
                            {#<li><a href="#level1_1">Level One</a>#}
                            {#<li><a>Level One<span class="fa fa-chevron-down"></span></a>#}
                                {#<ul class="nav child_menu">#}
                                    {#<li class="sub_menu"><a href="#test">Level Two</a>#}
                                    {#</li>#}
                                    {#<li><a href="#level2_1">Level Two</a>#}
                                    {#</li>#}
                                    {#<li><a href="#level2_2">Level Two</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li><a href="#level1_2">Level One</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>#}
                {#</ul>#}
            {#</div>#}

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="{{ "log_out"|trans|capitalize }}" href="{{ path('fos_user_security_logout') }}"> {#{#}
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>