{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="active">Toutes les ressource</li>
{% endblock %}

{% block page_title %}
    Ressources
{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-flask"></i> Toutes les ressources</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="import-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                            <i class="fa fa-upload" aria-hidden="true"></i> Import
                        </button>
                    </li>
                    <li>
                        <a type="button" class="btn btn-warning btn-li" href="{{ path('resource_export_all') }}"><i class="fa fa-download" aria-hidden="true"></i> Tout exporter</a>
                    </li>
                    <li class="inherit-li">
                        <a class="btn btn-success btn-li" href="{{ path("resource_new") }}"><i class="fa fa-plus"></i> Ajout</a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content container">
                <a href="#" class="btn btn-default openall">Déplier</a> <a href="#" class="btn btn-default closeall">Replier</a>
                <hr>
                <!-- start accordion -->
                <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for resource in resources %}
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="heading{{ resource.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ resource.id }}" aria-expanded="true" aria-controls="collapse{{ resource.id }}">
                                <h4 class="panel-title">{{ resource.name }}</h4>
                            </a>
                            <div id="collapse{{ resource.id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ resource.id }}">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Libellé</th>
                                            <th>Référence</th>
                                            <th>Unité</th>
                                            <th>Prix</th>
                                            <th>Créé le</th>
                                            <th>Dernière màj le</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{ resource.id }}</th>
                                            <td>{{ resource.name }}</td>
                                            <td>{{ resource.reference }}</td>
                                            <td>{{ resource.unit }}</td>
                                            <td>
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2><i class="fa fa-sitemap" aria-hidden="true"></i>
                                                            <small>{% if resource.timePrices|length > 0 %}Prix{% else %}Aucun prix{% endif %}</small></h2>
                                                        <ul class="nav navbar-right panel_toolbox">
                                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content" style="display: none">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>De</th>
                                                                <th>Jusqu'à</th>
                                                                <th>Coût (€)</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for timePrice in resource.timePrices %}
                                                                <tr>
                                                                    <td>{{ timePrice.id }}</td>
                                                                    <td>{{ timePrice.fromDate|date("d-m-Y") }}</td>
                                                                    <td>{{ timePrice.untilDate|date("d-m-Y") }}</td>
                                                                    <td>{{ timePrice.unitaryPrice }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{% if resource.created %}{{ resource.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if resource.updated %}{{ resource.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td align="center" style="vertical-align: middle">
                                                <a class="btn btn-sm btn-info" href="{{ path('resource_edit', { 'slug': resource.slug }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Modifier</a>
                                                <a class="btn btn-sm btn-warning" href="{{ path('resource_export', { 'slug': resource.slug }) }}"><i class="fa fa-download" aria-hidden="true"></i> Export</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" utilisateur="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" utilisateur="document">
            <div class="modal-content">
                <form method="post" action="{{ path('resource_index') }}" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Importer des ressources</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            {% if error %}
                                <div class="alert alert-danger text-center" utilisateur="alert">{{ error }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="file" class="col-sm-2 control-label">Fichier (*.json) </label>
                                <div class="col-sm-10">
                                    <input type="file" id="file" name="file" class="file form-control" data-show-upload="false" data-show-caption="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Importer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
    {% if error %}
        $(document).ready(function(){
        $("#import-btn").trigger("click");
        });
    {% endif %}

{% endblock %}