{% if default %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    {% endif %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% if delete_form is defined %}
                {{ form_start(delete_form, {'attr': {'class': 'form-horizontal form-label-left', 'novalidate': ''}}) }}
                <div class="modal-header">
                    <div class="col-md-10">
                        <h5 class="modal-title" style="font-weight: bold;">{{ "deletetion_of"|trans|capitalize }} <em>"{{ object_title|trans }}"</em></h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body" style="text-align: center">
                    {{ "sure_to_delete"|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "cancel"|trans|capitalize }}</button>
                    <button type="submit" class="btn btn-danger">{{ "delete_verb"|trans|capitalize }}</button>
                </div>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>
    {% if default %}
</div>
{% endif %}