{% trans_default_domain 'FOSUserBundle' %}
{# CUSTOM & NEW TEMPLATE#}
{% block subject %}
    {%- autoescape false -%}
    {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}
{% block body_html %}
    {% spaceless %}
        {#<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title> {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body bgcolor="#261166" style="margin:0px; padding:0px; -webkit-text-size-adjust:none; font-family: Calibri, 'Calibri', Tahoma, 'Helvetica Neue', Helvetica, sans-serif; font-size:11px;">

        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#261166" >
            <tbody>
            <tr>
                <td align="center">
                    <table  cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td class="w600"  width="600" height="10"></td>
                        </tr>
                        <tr>
                            <td class="w600"  width="600" height="10"></td>
                        </tr>

                        <!-- entete -->
                        <tr class="pagetoplogo">
                            <td width="600">
                                <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
                                    <tbody>
                                    <tr>
                                        <td width="600" valign="middle" align="center">
                                            <div class="pagetoplogo-content">
                                                <img style="text-decoration: none; display: block; color:#476688; font-size:30px; font-family: 'Calibri'" src="{{ banner }}" alt="Fime Banner" width="600" height="109"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <!-- separateur horizontal -->
                        <tr>
                            <td  class="w600"  width="600" height="1" bgcolor="#d7d6d6"></td>
                        </tr>

                        <!-- contenu -->
                        <tr class="content">
                            <td class="w600" class="w600"  width="600" bgcolor="#ffffff">
                                <table class="w600"  width="600" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td width="25"></td>
                                        <td width="550">
                                            <!-- une zone de contenu -->
                                            <table width="550" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td class="w550" width="550">
                                                        <h2 style="color:#71b1d6; font-size:12pt; padding-top:12px;font-family: Calibri">
                                                            Cher/Chère {{ user.firstName ~ " " ~ user.lastName }},</h2>

                                                        <div align="left" class="article-content" style="font-size:11pt;font-family: Calibri">
                                                            <p>Vous avez récemment demandé à réinitialiser votre mot de passe.
                                                                <strong>Pour finaliser cette demande,</strong> cliquez sur le lien ci-dessous :
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- fin zone -->

                                            <!-- ZONE BOUTON-->
                                            <table width="550" cellpadding="0" cellspacing="0" border="0" align="center">
                                                <tbody>
                                                <tr>
                                                    <td width="550" height="15"><div><p></p></div></td>
                                                </tr>
                                                <tr>
                                                    <td width="550">
                                                        <table cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="320" align="center" style="margin:0 auto">
                                                            <tr>
                                                                <td width="65"></td>
                                                                <td width="200" style="text-align:center;">
                                                                    <table cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                                                                        <tr>
                                                                            <td bgcolor="#379BD6" style="background:#2A729A;height:28px;border-radius:20px;padding:0 25px;" height="28">
                                                                                <a href="{{ confirmationUrl }}" target="_blank" style="text-decoration:none;color:#ffffff;font-size:12pt; font-family: Calibri">Réinitialiser</a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="65"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!--- FIN ZONE BOUTON -->

                                            <!-- Copyable link -->
                                            <table width="550" cellpadding="0" cellspacing="0" border="0" align="center">
                                                <tbody>
                                                <tr>
                                                    <td style="text-align:center;">
                                                        <table cellpadding="0" cellspacing="0" bgcolor="#ffffff" align="center">
                                                            <tr>
                                                                <td width="550" height="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height:10px; text-align:center;">
                                                                    <div style="color:#404041;font-size:9pt;font-family: Calibri">Lien copiable<br/>{{ confirmationUrl }}</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- Fin copyable link -->

                                            <!-- une autre zone de contenu -->
                                            <table width="550" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td class="w550" width="550" height="20"><div class="article-content"><p></p></div></td>
                                                </tr>
                                                <!--  separateur horizontal de 15px de  haut-->
                                                <tr>
                                                    <td class="w550"  width="550" height="1" bgcolor="#c7c5c5"></td>
                                                </tr>
                                                <tr>
                                                    <td class="w550" width="550" height="20"><div class="article-content"><p></p></div></td>
                                                </tr>
                                                <tr>
                                                    <td class="w550" width="550">
                                                        <div class="article-content" align="left" style="font-size:11pt;font-family: Calibri">
                                                            <p><strong>Ce lien de réinitialisation de mot de passe n'est valable que durant les 48h prochaines heures. Passé ce délai, il vous faudra soumettre une nouvelle demande de réinitialisation de mot de passe depuis <a href="{{ resetRequestUrl }}"  target="_blank" style="text-decoration:none;color:#404041;font-family: Calibri"><u>Casemanager</u></a></strong></p>
                                                        </div>
                                                        <div class="article-content" align="left" style="font-size:11pt;font-family: Calibri">
                                                            <p>Chat-leureusement,
                                                                L'équipe DelphiGx</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="w550" width="550" height="20"><div class="article-content"><p></p></div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="w25" width="25"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <!-- pied de page -->
                        <tr class="pagebottom">
                            <td class="w600"  width="600">
                                <table class="w600"  width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                                    <tbody>
                                    <tr>
                                        <td colspan="5" height="3"></td>
                                    </tr>
                                    <tr>
                                        <td class="w10" width="10"></td>
                                        <td class="w580"  width="580" valign="top">
                                            <p align="center" style="font-size: 8pt;font-family: Calibri">
                                                Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas tenir compte de cet email.
                                                Veuillez ne pas répondre directement à cet email. Cet email est envoyé depuis une adresse email qui ne peut recevoir d'email.
                                                Si vous avez des questions ou besoin d'assistance, veuillez s'il vous plait nous contacter au 02.31.11.22.33.
                                            </p>
                                        </td>
                                        <td class="10"  width="10"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="10"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="w600"  width="600" height="60"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        </body>
        </html>
    {% endspaceless %}
{% endblock %}
