{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="">{{ "customers_management"|trans|capitalize }}</li>
    <li class="active">{{ "all_private_individuals"|trans|capitalize|capitalize }}</li>
{% endblock %}

{%  block page_title %} {{ "private_individuals"|trans|capitalize}} {% endblock %}
{% block title %} {{ "private_individuals"|trans|capitalize }} {% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-address-card"></i> {{ "all_private_individuals"|trans|capitalize }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="import-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                            <i class="fa fa-upload" aria-hidden="true"></i> {{ "import_verb"|trans|capitalize }}
                        </button>
                    </li>
                    <li>
                        <a type="button" class="btn btn-warning btn-li" href="{{ path('private_individual_export_all') }}"><i class="fa fa-download" aria-hidden="true"></i> {{ "export_all"|trans|capitalize }}</a>
                    </li>
                    <li class="inherit-li">
                        <a class="btn btn-success btn-li" href="{{ path("private_individual_new") }}"><i class="fa fa-user-plus"></i> {{ "addition"|trans|capitalize }}</a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="all-customers" class="x_content container">
                {% include ':customer:index_datatable_grid_customer.html.twig' with {'grid': grid} %}
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    {% include  ":common:import_modal.html.twig" with { "action_path": "private_individual_index", "object_title": "some_private_individuals", "error": error } %}
    <!-- Delete Modal -->
    {% include  ":common:remove_object_modal.html.twig" with { "default": true } %}

{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
    {% if error %}
        $(document).ready(function(){
        $("#import-btn").trigger("click");
        });
    {% endif %}
    {% include ":common:delete_pop_up.js.twig" with { "routeName": "private_individual_delete" } %}

{% endblock %}