{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="active">Tous les utilisateurs</li>
{% endblock %}

{% block page_title %}
    Utilisateurs
{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-users"></i> Tous les utilisateurs</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="import-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                            <i class="fa fa-upload" aria-hidden="true"></i> Import
                        </button>
                    </li>
                    <li>
                        <a type="button" class="btn btn-warning btn-li" href="{{ path('user_export_all') }}"><i class="fa fa-download" aria-hidden="true"></i> Tout exporter</a>
                    </li>
                    <li class="inherit-li">
                        <a class="btn btn-success btn-li" href="{{ path("user_new") }}"><i class="fa fa-user-plus"></i> Ajout</a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content container">
                <a href="#" class="btn btn-default openall">Déplier</a> <a href="#" class="btn btn-default closeall">Replier</a>
                <hr>
                <!-- start accordion -->
                <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for user in users %}
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="heading{{ user.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ user.id }}" aria-expanded="true" aria-controls="collapse{{ user.id }}">
                                <h4 class="panel-title">{{ user.firstName ~ ' ' ~ user.lastName }}</h4>
                            </a>
                            <div id="collapse{{ user.id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ user.id }}">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Prénom</th>
                                            <th>Nom</th>
                                            <th>Identifiant</th>
                                            <th>Email</th>
                                            <th>Role(s)</th>
                                            <th>Poste</th>
                                            <th>Equipe</th>
                                            <th>Statut</th>
                                            <th>Créé le</th>
                                            <th>Dernière màj le</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.firstName }}</td>
                                            <td>{{ user.lastName }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2><i class="fa fa-sitemap" aria-hidden="true"></i>
                                                            <small>Role(s)</small></h2>
                                                        <ul class="nav navbar-right panel_toolbox">
                                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content" style="display: none">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for role in user.roles %}
                                                                <tr>
                                                                    <td>{{ role }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ user.jobStatus }}</td>
                                            <td>{{ user.team }}</td>
                                            <td align="center">{% if user.enabled == true %}
                                                    <i class="fa fa-check" aria-hidden="true" style="color:#1C9A71"></i>
                                                {% else %}<i class="fa fa-times" aria-hidden="true" style="color:#D44950"></i>
                                                {% endif %}
                                            </td>
                                            <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if user.updated %}{{ user.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td align="center" style="vertical-align: middle">
                                                <a class="btn btn-sm btn-info" href="{{ path('user_edit', { 'slug': user.slug }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Modifier</a>
                                                <a class="btn btn-sm btn-warning" href="{{ path('user_export', { 'slug': user.slug }) }}"><i class="fa fa-download" aria-hidden="true"></i> Export</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('user_index') }}" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Importer des utilisateurs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            {% if error %}
                                <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="file" class="col-sm-2 control-label">File (*.json) </label>
                                <div class="col-sm-10">
                                    <input type="file" id="file" name="file" class="file form-control" data-show-upload="false" data-show-caption="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    {{ parent() }}
    {% if error %}
        $(document).ready(function(){
        $("#import-btn").trigger("click");
        });
    {% endif %}

{% endblock %}